<% if @user.errors.any? %>
  <div id="error_explanataion">
	<div class="alert alert-error">
	  <% if @user.errors.count == 1 %>
		There is 1 error.
	  <% else %>
	    There are <%= pluralize(@user.errors.count, "error") %>.
	  <% end %>
	</div>
	<ul>
	<% @user.errors.full_messages.each do |msg| %>
	  <% if msg.include? "digest" %>
		<% next %>
	  <% end %>
	  <li>* <%= msg %> </li>
	<% end %>
	</ul>
  </div>
<% end %>
